* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(213, 217, 222);
    font-family: 'Poppins', sans-serif;

}


/* Navbar */
.nav-home {
    height: 50px;
    background-color: rgb(244, 243, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav div a {
    text-decoration: none;
    color: white;
}

nav ul li img {
    width: 50px;
    align-items: center;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    margin-left: 70px;

}

.contact-nav {
    width: 120px;
    height: 30px;
    display: flex;
    background-color: rgb(17, 23, 39);
    justify-content: center;
    margin-right: 100px;
    align-items: center;
    border-radius: 10px;

}

.navbar-link {
    color: black;
}

.active {
    font-weight: bold;
}




/* Form */

.formMyProject {
    width: 350px;
    margin: 50px auto;

}

h2 {
    text-align: center;
}


/* project-name */
.forminput {
    width: 100%;
    font-weight: 600;
    margin-top: 20px;
}

#projectName {
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 3px;
}

/* Date */
.date {
    display: flex;
    column-gap: 10px;
}


#startDate {
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 3px;

}

#endDate {
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 3px;
}

input[type="date"] {
    color: transparent;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: white no-repeat;
    color: transparent;
    width: 16px;
    height: 16px;
    cursor: pointer;
}



/* Description */
.description {
    width: 100%;
    font-weight: 600;
    margin-top: 20px;
}

#description {
    resize: none;
    width: 100%;
    height: 100px;
    border: 0;
    border-radius: 3px;
}


/* Checkbox */
.checkbox {
    margin-top: 5px;

}

.technologies {
    font-weight: 600;
    width: 100%;
}

.inputcheckbox {
    display: flex;

}

.inputcheckbox label {
    cursor: pointer;
}

.group-1 {
    margin-right: 70px;
}


.checkbox-1 {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;

}


.checkbox-3 {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

#nodejs,#reactjs,#typescript,#nextjs {
    cursor: pointer;
}



/* Upload */

.upload {
    margin-top: 15px;
    font-weight: 600;
}

#image {
    display: none;
}

.imgupload {
    height: 15px;
    width: 15px;
    margin-right: 15px;
}

.upload-1 {
    margin-top: 1px;
}
.upload-2 {
    display: flex;

}

.labelimage {
    background-color: white;
    height: 30px;
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
    border-radius: 3px;
}
.buttonimage{
    font-size: small;
    border-radius: 3px;
    width: 80px;
    cursor: pointer;
    color: rgb(107, 106, 106);
    background-color: rgb(212, 210, 210);
    margin-right: -20px;
    translate: 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Submit */
#submit {
    width: 90px;
    height: 24px;
    background-color: rgb(17, 23, 39);
    border-radius: 15px;
    color: white;
    margin: 30px 75%;
    border: 0;
    cursor: pointer;

}



/* Card */

.title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 235, 235);
    padding: 50px;
    margin-bottom: -20px;
}

.container-master {
    background-color: rgb(238, 235, 235);
}

.container-card {
    display: grid;
    grid-template-columns:auto auto auto;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.container-card-2 {
    width: 325px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(153, 151, 151);
    overflow: hidden;
    padding: 10px;

}

.container-content {
    margin: 5px;
}

.container-content h4 {
    margin-top: 5px;
}

.container-content span {
    font-size: 11px;
    display: flex;
    margin-bottom: 15px;
    color: rgb(107, 104, 104);
}

.container-content p {
    font-size: 13px;
    margin-bottom: 15px;
}

.container-logo {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.container-button {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.edit-button,.delete-button {
    width: 100%;
    height: 24px;
    background-color: rgb(17, 23, 39);
    border-radius: 7px;
    color: white;
    border: 0;
    cursor: pointer;
}

/* image card */
.logo-nodejs {
    width: 25px;
    height: 25px;
}


.logo-typescript , .logo-reactjs , .logo-nextjs{
    width: 20px;
    height: 20px;
}

.image-1 {
    width: 295px;
    height: auto;
    border-radius: 10px;
}