* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(213, 217, 222);
    font-family: 'Poppins', sans-serif;
}




/* Navbar */
.nav-home {
    height: 50px;
    background-color: rgb(244, 243, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav div a {
    text-decoration: none;
    color: white;
}

nav ul li img {
    width: 50px;
    align-items: center;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    margin-left: 70px;

}

.contact-nav {
    width: 120px;
    height: 30px;
    display: flex;
    background-color: rgb(17, 23, 39);
    justify-content: center;
    margin-right: 100px;
    align-items: center;
    border-radius: 10px;

}

.navbar-link {
    color: black;
}

.active {
    font-weight: bold;
}


.nav-mobile {
    width: 100vw;
    background-color: rgb(244, 243, 243);
    display: flex;

}

.nav-mobile ul {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(244, 243, 243);
}

.nav-mobile ul :hover {
    background-color: rgb(219, 213, 213);
    border-radius: 5px;
    padding: 2px;
    font-weight: 900;
}


/* Contact Form */

.actives {
    color: white;
    font-weight: bold;
}

.h2-contact {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 25vmax;
    margin: 0 auto;
}

form label {
    margin-top: 10px;
}

#name {
    height: 25px;
    border: 0;
    border-radius: 3px;
}

#email {
    height: 25px;
    border: 0;
    border-radius: 3px;
}

#tel {
    height: 25px;
    border: 0;
    border-radius: 3px;
}

#option {
    height: 30px;
    border: 0;
    border-radius: 3px;
    display: block
}

#textarea {
    height: 100px;
    resize: none;
    border: 0;
    border-radius: 3px;
}

#submit {
    width: 5rem;
    height: 24px;
    background-color: rgb(17, 23, 39);
    border-radius: 15px;
    color: white;
    margin: 30px 75%;
    border: 0;
    cursor: pointer;

}



/* Content */

.content-head {
    width: 75%;
    height: auto;
    background-color: white;
    margin: 5% auto;
    line-height: 1.4;
    box-shadow: 0 0 5px 0 rgb(82, 81, 81);
    border-radius: 10px;
}

.content-subhead {
    width: 100%;
    display: flex;
}

.head-1 {
    width: 55%;
    padding: 50px;
}

.head-1 h2 {
    width: 100%;
    font-weight: 800;
    margin-bottom: 10px;
}

.head-1 p {
    font-size: 12px;
    margin-bottom: 15px;
    text-align: justify;
}


.head-1-contact {
    display: flex;
    gap: 30px;
}

.head-1-sub1 {
    background-color: rgb(17, 23, 39);
    color: white;
    border-radius: 15px;
    height: 30px;
    font-size: 12px;
    text-decoration: none;
    width: 88px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-1-sub2 {
    font-size: 12px;
    text-decoration: none;
    color: rgb(44, 44, 44);
    font-weight: 800;
    display: flex;
    align-items: center;
}

.head-1-sub2 i {
    margin-left: 5px;
}

.head-2 {
    display: flex;
    gap: 25px;
    margin-top: 35px;
    cursor: pointer;


}




.head-3 {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.head-3 img {
    width: 250px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 5px 0 rgb(87, 86, 86);

}

.head-4 {
    background-color: #fcfcfc;
    box-shadow: 0 0 5px 0 rgb(87, 86, 86);
    height: 50px;
    font-size: 11px;
    font-weight: 800;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5px;
    border-radius: 0 0 5px 5px;
}

.head-4-sub1 {
    font-size: 18px;
    font-weight: 900;
    color: black;
}

.head-4-sub2 {
    font-size: 10px;
    font-weight: 800;
}

.fa-bars {
    cursor: pointer;
}


@media only screen and (max-width : 575.98px) {


    .head-1 {
        width: 100%;
        padding: 50px;
    }

    .head-1-contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head-1 h2 {
        width: 100%;
        font-size: 1rem;
        font-weight: 800;
        margin-bottom: 10px;
        text-align: center;

    }

    .head-1-sub1 {
        background-color: rgb(17, 23, 39);
        color: white;
        border-radius: 15px;
        height: 1rem;
        font-size: 0.5rem;
        text-decoration: none;
        width: 88px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .head-1-sub2 {
        font-size: 0.45rem;
        text-decoration: none;
        color: rgb(44, 44, 44);
        font-weight: 800;
        display: flex;
        align-items: center;
    }

    .head-1-sub2 i {
        margin-left: 5px;
    }


    .head-2 {
        display: flex;
        gap: 25px;
        margin-top: 35px;
        justify-content: center;
    }

    .fa-2x {
        font-size: 1.2em;
    }

    .head-1 p {
        font-size: 0.5rem;
        margin-bottom: 15px;
        text-align: justify;
        line-height: 1rem;
    }

    .content-head {
        width: 75%;
        height: auto;
        background-color: white;
        margin: 5% auto;
        line-height: 1.4;
        box-shadow: 0 0 5px 0 rgb(82, 81, 81);
        border-radius: 10px;
    }



    .content-subhead {
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }


    .head-3 {
        display: flex;
        flex-direction: column;
        margin: 50px;
        margin: auto;
        margin-bottom: 50px;
    }

    .head-3 img {
        display: flex;
        width: 200px;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 0 5px 0 rgb(87, 86, 86);

    }

    .home, .myproject, .contact-nav, .testimonial {
        display: none;
    }


    .nav-home ul {
        display: flex;
        gap: 55vw;
        justify-content: center;
        align-items: center;
    }

    .imglogo {
        margin-left: -20px;
    }

    /* CONTACT.HTML */

    #submit {
        width: 5rem;
        height: 24px;
        background-color: rgb(17, 23, 39);
        border-radius: 15px;
        color: white;
        margin: 30px auto;
        border: 0;
        cursor: pointer;

    }


    .form {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 0 auto;
    }

    .group-1 {
        margin: 0 auto;
    }
    
}


@media only screen and (min-width: 1224px) {
    .fa-bars {
        display: none;
    }

    .nav-mobile {
        display: none;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

    .fa-bars {
        display: none;
    }

    .head-1 {
        width: 100%;
        padding: 50px;
    }

    .head-1-contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head-1 h2 {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 800;
        margin-bottom: 10px;
        text-align: center;

    }

    .head-1-sub1 {
        background-color: rgb(17, 23, 39);
        color: white;
        border-radius: 15px;
        height: 1.2rem;
        font-size: 0.7rem;
        text-decoration: none;
        width: 88px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .head-1-sub2 {
        font-size: 0.7rem;
        text-decoration: none;
        color: rgb(44, 44, 44);
        font-weight: 800;
        display: flex;
        align-items: center;
    }

    .head-1-sub2 i {
        margin-left: 5px;
    }


    .head-2 {
        display: flex;
        gap: 25px;
        margin-top: 35px;
        justify-content: center;
    }

    .fa-2x {
        font-size: 1.5em;
    }

    .head-1 p {
        font-size: 0.7rem;
        margin-bottom: 15px;
        text-align: justify;
        line-height: 1.2rem;
    }

    .content-head {
        width: 75%;
        height: auto;
        background-color: white;
        margin: 5% auto;
        line-height: 1.4;
        box-shadow: 0 0 5px 0 rgb(82, 81, 81);
        border-radius: 10px;
    }



    .content-subhead {
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }


    .head-3 {
        display: flex;
        flex-direction: column;
        margin: 50px;
        margin: auto;
        margin-bottom: 50px;
    }

    .head-3 img {
        display: flex;
        width: 200px;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 0 5px 0 rgb(87, 86, 86);

    }


    .nav-mobile {
        display: none;
    }

    /* Contact.html */
    #submit {
        width: 5rem;
        height: 24px;
        background-color: rgb(17, 23, 39);
        border-radius: 15px;
        color: white;
        margin: 30px auto;
        border: 0;
        cursor: pointer;

    }


    .form {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 0 auto;
    }

}