* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(213, 217, 222);
}



/* Navbar */
.nav-home {
    height: 50px;
    background-color: rgb(244, 243, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav div a {
    text-decoration: none;
    color: white;
}

nav ul li img {
    width: 50px;
    align-items: center;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    margin-left: 70px;

}

.contact-nav {
    width: 120px;
    height: 30px;
    display: flex;
    background-color: rgb(17, 23, 39);
    justify-content: center;
    margin-right: 100px;
    align-items: center;
    border-radius: 10px;

}

.navbar-link {
    color: black;
}

.active {
    font-weight: bold;
}




/* Contact Form */

.h2-contact {
    text-align: center;
    font-family: 'Poppins', sans-serif ;
    font-weight: bold;
    margin-top: 20px;
}

.form {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 20px auto;
}

form label {
    margin-top: 10px;
}

#name {
    height: 25px;
    border: 0;
    border-radius: 3px;
}

#email {
    height: 25px;
    border: 0;
    border-radius: 3px;
}

#tel {
    height: 25px;
    border: 0;
    border-radius: 3px;
}

#option {
    height: 30px;
    border: 0;
    border-radius: 3px;
    display: block
}

#textarea {
    height: 100px;
    resize: none;
    border: 0;
    border-radius: 3px;
}

#submit {
    width: 90px;
    height: 24px;
    background-color: rgb(17, 23, 39);
    border-radius: 15px;
    color: white;
    margin: 30px 75%;
    border: 0;
    cursor: pointer;

}



/* Content */

.content-head {
    width: 75%;
    height: 100%;
    background-color: white;
    margin: 5% auto;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    box-shadow: 0 0 50px 0;
    border-radius: 20px;
}

.content-subhead {
    width: 40%;
    height: auto;
    background-color: white;
    text-align: justify;
    margin: 0 auto;
    padding: 50px;
}

.head-1 p {
    font-size: 12px;
    margin-bottom: 10px;
}

.head-1-sub1 {
    background-color: rgb(17, 23, 39);
    color: white;
    border-radius: 12px;
    padding: 6px;
    font-size: 11px;
    text-decoration: none;
    width: 100px;
}

.head-1-sub2 {
    font-size: 11px;
    margin-top: 15px;
    text-decoration: none;
    color: rgb(44, 44, 44);
    display: flex;
    font-weight: bold
}

.head-2 {
    text-align: center;
    word-spacing: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.head-2 a img {
    width: 6%;
    height: auto
}


.head-3 {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 4px 0
}

.head-3 img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;

}

.head-4 {
    background-color: rgb(248, 245, 245);
    font-size: 11px;
    font-weight: bold;
}

.head-4-sub1 {
    font-size: 13px;
    font-weight: bolder
}

.head-4-sub2 {
    font-size: 9px;
    font-weight: lighter
}