* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(213, 217, 222);
    font-family: 'Poppins', sans-serif;
}




/* Navbar */
.nav-home {
    height: 50px;
    background-color: rgb(244, 243, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav div a {
    text-decoration: none;
    color: white;
}

nav ul li img {
    width: 50px;
    align-items: center;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    margin-left: 70px;

}

.contact-nav {
    width: 120px;
    height: 30px;
    display: flex;
    background-color: rgb(17, 23, 39);
    justify-content: center;
    margin-right: 100px;
    align-items: center;
    border-radius: 10px;

}

.navbar-link {
    color: black;
}

.active {
    font-weight: bold;
}


.nav-mobile {
    width: 100vw;
    background-color: rgb(244, 243, 243);
    display: flex;

}

.nav-mobile ul {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(244, 243, 243);
}

.nav-mobile ul :hover {
    background-color: rgb(219, 213, 213);
    border-radius: 5px;
    padding: 2px;
    font-weight: 900;
}


/* CONTENT TESTIMONIAL */



.title-testi {
    text-align: center;
    margin-top: 40px;
}
.testimonial-content {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    overflow: hidden;

}

.testimonial-content div {
    background-color: rgb(244, 243, 243);
    height: auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px rgb(199, 199, 199);
    margin-top: 50px;
}

.img-testi {
    height: 200px;
    display: flex;
    margin: 0 auto;
    border-radius: 5px;

}

.quote {
    font-style: italic;
    display: flex;
    justify-content: start;
    margin-top: 10px;
    font-size: .8rem;
}


.author {
    font-weight: 800;
    margin-top: 10px;
    display: flex;
    justify-content: end;
    font-size: 1rem;
}




























/* RESPONSIVE */
@media only screen and (max-width : 575.98px) {

    /* NAVBAR */
.home, .myproject, .contact-nav, .testimonial {
    display: none;
}


.nav-home ul {
    display: flex;
    gap: 55vw;
    justify-content: center;
    align-items: center;
}

.imglogo {
    margin-left: -20px;
}


    /* Content */

    .testimonial-content {
        gap: 15px;
    }


}



@media only screen and (min-width: 1224px) {
    .fa-bars {
        display: none;
    }

    .nav-mobile {
        display: none;
    }


}


@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    .fa-bars {
        display: none;
    }

    
    .nav-mobile {
        display: none;
    }

    .testimonial-content {
        gap: 40px;
    }



   
    
}